@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50px);
        /* scale: 0.95; */
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        /* scale: 1; */
    }
}

@keyframes img-appear {
    from {
        opacity: 0.5;
        transform: scale(.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Aplica a animação a todos os elementos dentro de main */
main 
article 
section *:not(#artistas *):not(img):not(.img-container *):not(.poema) {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

main article section > img, .img-container *, .poema {
    animation: img-appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

/* Remove a animação da div específica e seus filhos */
/* .no-animation, .no-animation * {
    animation: none !important;
} */

/* img,.poema {
    animation: img-scroll-effect linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
} */

main section#Home {
    background-image: url('../images/home-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;  
}

main section#Home div#quadro {
    background-color: white;
    width: fit-content;
    font-weight: 800;
    font-size: 3em;

    padding: .7em;
    color: #2F2E2E;

    text-align: center;
}

main section#Home div#quadro img {
    height: 50px;
}
/* 
main section#Home div#quadro h1 {
    text-align: left;
} */

main section:not(#Home) {
    padding: 20px;
    line-height: 1.5;
    font-size: 1.2em;
}

main section:not(#Home) p {
    text-align: justify;
}

main section:not(#Home) a.nav-link {
    line-height: 4em;
}

/* main section#contexto-nacional {
    display: flex;
    background-color: red;
} */

/* div.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: start;
} */



/* div.two-columns p,
div.two-columns h4 {
    padding: 0 30px;
} */

main article {
    margin: 0 auto;
    box-shadow: 0px 0px 10px 10px #00000010;
    max-width: 1200px;
}

div#artists-galery {
    
    max-width: 100%;
    overflow: hidden;
    margin: 0 -20px;
    padding: 30px;
    display: grid;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    gap: 15px;
    /* background-image: url('../images/galeria-bg.jpg'); */
    /* background-image: url('../images/cea378e0-c97e-4fa9-a788-88f7b227ba49.jpeg'); */
    /* background-image: url('../images/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper.jpg'); */
    /* background-image: url('../images/957c7daa-af73-4baf-bdce-a6a3bf3968fd.jpeg'); */
    background-image: url('../images/texture.jpg');
    background-color: #00000061;
    /* background-color: #271503a7; */
    background-position: center center;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-blend-mode: overlay;
    animation-range: cover 100%;
}

div#artists-galery div.quadro-artista {
    /* display: flex; */
    background-color: #000000b8;
    /* border: 1px solid rgb(185, 111, 20); */
    padding: 15px;
}

div#artists-galery div.quadro-artista img {
    width: 95%;
    /* max-height: 90%; */
    height: fit-content;
    margin-top: 5%;
}

div#artists-galery div.quadro-artista {
    color: white;
    padding: 15px;
    cursor: pointer;
    transition-duration: 200ms;
}

div#artists-galery div.quadro-artista:hover {
    padding: 0px;
}


#artist-info {
    z-index: 1000;
    /* animation: none; */

    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

#artist-info-content {
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 80%;
    max-height: 80%;
    text-align: center;
    position: relative;
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

#artist-info-content > img {
    /* display: inline; */
    width: 50%;
    float: left;
}

/* #artist-info-content div#artes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
} */


#artist-info-content div#artes div.arte {
    margin-top: 15px;
    text-align: center;
    /* display: inline-block; */
    background-color: #00000010;
}

#artist-info-content div#artes div.arte img {
    /* max-height: 230px; */
    width: 100%;
    /* padding-top: 15px; */
    /* text-align: center; */
}

#artist-info-content div#artes .artlist {
    text-align: left;
}

#artist-info.visible {
    visibility: visible;
    opacity: 1;
}

#close-info {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

/* main article section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

main article section img.float{
    margin: 15px;   
}

main article section img.float.right {
    float: right;
    margin-right: 0;
}

main article section img.center {
    text-align: center;
}

main article section img.float.left {
    float: left;
    margin-left: 0;
}

main article section div.images > img{
    max-width: 33%;
}

.poema {
    display: inline;
    text-align: center;
    float: right;
    padding: 15px;
}

.poema h3 {
    margin: 5px auto;
}

aside, .img-container {
    display: inline;
    float: right;
    max-width: 33%;
    margin: 0 0 5px 15px;
    background-color: #00000010;
}

.img-container img {
    width: 100%;
}

figcaption {
    font-size: .8em;
    padding: .5em;
}


@media (max-width: 600px) {
    main section#Home div#quadro {
        font-size: 2em;
        max-width: 80%;
    }

    main article section img.float.right,
    main article section img.float.left {
        display: flex;
        justify-content: center;
        align-items: center;
        float: none;
    }

    .poema {
        display: block;
        float: none;
        max-width: 100%;
        margin: 0;
        padding: 10px;
        font-size: .85em;
    }

    aside, .img-container {
        display: block;
        float: none;
        max-width: 100%;
    }

    div#artists-galery {
        display: block;
    }

    div#artists-galery div.quadro-artista {
        margin: 15px auto;
    }
}